.box {
  display: flex;
  min-height: 100vh;
}
.left {
  color: white;
  width: 40%;
  text-align: center;
}
.left .scroll_box {
  padding-top: 50vh;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 10vh;
}
.right {
  width: 60%;
}

.box_imgs {
  font-size: 0;
}
.box_img {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 50%;
  height: 50vh;
  background-position: center;
  background-size: cover;
}
.box_img .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  transition-duration: 0.2s;
}
.box_img .name {
  letter-spacing: 3px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 20vh;
  font-size: 20px;
}

.box_img .name_prox {
  opacity: 0;
  letter-spacing: 3px;
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 100%;
  z-index: 5;
  color: white;
  text-align: center;
  padding-top: 20vh;
  font-size: 20px;
}
.box_img .name_prox:hover {
  transition: 4s;
  opacity: 1;
}
.box_img .urban {
  letter-spacing: 3px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 20vh;
  font-size: 20px;
}
.box_img:hover .urban {
  opacity: 0;
  transition: 0.5s;
}
.box_img:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 0.2s;
}

.contact {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
.form input {
  font-family: "Montserrat", sans-serif;
  border: 0;
  color: #4e524b;
  margin-right: 10px;
  padding: 10px 30px;
  border-radius: 5px;
}
.form button {
  font-family: "Montserrat", sans-serif;
  border: 0;
  color: #4e524b;
  background-color: #ffffff;
  padding: 10px 30px;
  border-radius: 5px;
}

.section_1 .box_left .text_left {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 30px;
}
.logo {
  margin-bottom: 40vh;
}

.text_down {
  display: none;
}
.contact_down {
  display: none;
}
.popup h2 {
  margin: 0;
}
.popup p {
  margin: 0;
  font-size: 26px;
}
@media (max-width: 800px) {
  .box {
    display: block;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .box_img {
    width: 100%;
    height: 50vh;
  }
  .left .scroll_box {
    padding-top: 20vh;
    height: 60vh;
    overflow-y: hidden;
    padding-bottom: 10vh;
  }
  .left .contact {
    display: none;
  }
  .left .text_left {
    display: none;
  }
  .text_down {
    padding-top: 20px;
    text-align: center;
    display: block;
    color: #ffffff;
  }
  .contact_down {
    color: #ffffff;
    text-align: center;
    display: block;
    padding-bottom: 20px;
  }
  .popup h2 {
    font-size: 20px;
  }
  .popup p {
    font-size: 18px;
  }
}
